@using System.Text.Json;
@using System.Text.Json.Serialization;
@using feedme_csharp_mvc.ViewModels
@model ChoiceListDetailViewModel

@*@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}*@

@*<div class="card">*@
<div class="container-fluid card-header bg-dark bg-gradient text-secondary d-flex flex-row align-items-center">
    <h2 class="col-10">@Model.ChoiceListName</h2>
    <div class="btn-group-vertical col-2">
        <form class="btn btn-outline-secondary btn-sm">
            <a asp-controller="ChoiceLists" asp-action="Create" class="btn btn-outline-secondary btn-sm bg-transparent border-0">
                Add
            </a>
        </form>
        <form class="btn btn-outline-secondary btn-sm">
            <a class="btn btn-outline-secondary btn-sm bg-transparent border-0" asp-controller="ChoiceLists" asp-action="Edit" asp-route-id="@Model?.ChoiceListId">Edit</a>
        </form>
        @*<a class="btn btn-outline-secondary btn-sm m-1 col-2" asp-controller="ChoiceLists" asp-action="Delete" asp-route-id="@Model.ChoiceListId" method="post">Delete</a>*@
        <form asp-controller="ChoiceLists" asp-action="Delete" asp-route-id="@Model?.ChoiceListId" method="post" class="btn btn-sm btn-outline-secondary">
            <input type="submit" value="Delete" class="btn btn-sm btn-outline-secondary bg-transparent border-0" />
        </form>
    </div>
</div>
<div class="card-body bg-secondary overflow-auto" style="height: 200px;">
    <h3 class="text-center">@Model.ChoiceListDescription</h3>

    @if (Model.OptionNames != null && Model.OptionNames.Count > 0)
    {
        @foreach (string option in Model.OptionNames)
        {
            <h5 class="text-center">@option</h5>
        }
        <p class="text-center">
            <a class="btn btn-outline-dark btn-sm m-1" asp-controller="ListOptions" asp-action="Create">Add</a>
        </p>
    }
</div>
@*    <div class="card-footer">
        <a class="card-link" asp-controller="ListOptions" asp-action="Create">Add More</a>
        <a class="card-link" asp-action="Edit" asp-route-id="@Model?.ChoiceListId">Edit</a>
        <a class="card-link" asp-action="Index">Back to List</a><hr />
        <button id="randomOptionButton" class="btn btn-outline-dark shadow-lg">Pick Me Something!</button>
        <button id="clearButton" class="btn btn-outline-dark shadow-lg">Clear</button>
        <div id="randomOptionContainer"></div>
    </div>*@
@*</div>*@

@*<div>
    <h4>@Model.ChoiceListName</h4>
    <table class="table">
    <tr>
        <th>Description</th>
        <td>@Model.ChoiceListDescription</td>
    </tr>
    <tr>
        <th>Options</th>
        <td>
        @if (Model.OptionNames != null && Model.OptionNames.Count > 0)
        {
            <ul>
            @foreach (string option in Model.OptionNames)
            {
                <li>@option</li>
            }
            </ul>
        }
        <a asp-controller="ListOptions" asp-action="Create">Add More</a>
        </td>
    </tr>
</table>
    <hr />
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ChoiceListId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

<button id="randomOptionButton" class="btn btn-outline-dark shadow-lg">Pick Me Something!</button>
<button id="clearButton" class="btn btn-outline-dark shadow-lg">Clear</button>
<div id="randomOptionContainer"></div>*@

@*<script>
  const button = document.getElementById('randomOptionButton')
  const clearButton = document.getElementById('clearButton')
  const container = document.getElementById('randomOptionContainer')
  const optionsJson = '@Html.Raw(Json.Serialize(Model.OptionNames))'
  const options = JSON.parse(optionsJson)
  let randomOption
  clearButton.hidden = true

  button.addEventListener('click', () => {
    const randomIndex = Math.floor(Math.random() * options.length)
    randomOption = options[randomIndex]
    container.textContent = randomOption
    clearButton.hidden = false
  })

  clearButton.addEventListener('click', () => {
      randomOption = null
      container.textContent = randomOption
      clearButton.hidden = true
  })
</script>*@