@using feedme_csharp_mvc.ViewModels
@model FeedMeNowViewModel



<!-- Carousel -->
<div id="choiceListCarousel" class="carousel col-7 bg-secondary slide container p-lg-5 shadow-lg" data-bs-ride="carousel" style="vertical-align: middle;">
    <h2 class="text-center">Your Layouts</h2>
<p>
    <a asp-action="Create" class="btn btn-outline-dark text-black text-opacity-75 col-md-4 offset-4 shadow-lg">Create New</a>
</p>
  <!-- Indicators/dots -->
@*  <div class="carousel-indicators">
    <button type="button" data-bs-target="#choiceListCarousel" data-bs-slide-to="0" class="active"></button>
    <button type="button" data-bs-target="#choiceListCarousel" data-bs-slide-to="1"></button>
    <button type="button" data-bs-target="#choiceListCarousel" data-bs-slide-to="2"></button>
  </div>*@
  
  <!-- The slideshow/carousel -->
@*    <div class="carousel-inner container p-3" style="height: 600px">
        @foreach(ChoiceListLayout listLayout in @Model)
        {
            <div class="carousel-item container-lg bg-secondary @(listLayout == Model[0] ? "active" : "")">
                <div class="container p-5 mt-2 border border-dark bg-black bg-opacity-50 text-muted" style="height: 70px">
                    <h4>@listLayout.Name</h4>
                </div>
                <div class="container p-5 mt-2 border border-dark bg-dark bg-opacity-75 text-muted" style="height: 330px">
                    <p>@listLayout.Description</p>
                </div>
                <div class="container p-3 mt-2 border border-dark bg-black bg-opacity-75">
                    <a asp-controller="ChoiceListLayout" asp-action="Details" asp-route-id="@listLayout.Id"style="height: 40px">Details</a>
                </div>
            </div>
        }
    </div>*@
    <div class="carousel-inner container p-3" style="height: 560px">
        @foreach(ListLayoutDetailViewModel viewModel in @Model.ListLayouts)
        {
            <div class="carousel-item container-lg bg-secondary @(viewModel == Model.ListLayouts[0] ? "active" : "")">
                @await Html.PartialAsync("_ListLayoutDetailsPartial", viewModel)
            </div>
        }
    </div>
  
  <!-- Left and right controls/icons -->
  <button class="carousel-control-prev" type="button" data-bs-target="#choiceListCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#choiceListCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon"></span>
  </button>
</div>